/libraries/Wire
/libraries/EEPROM
/libraries/Esplora
/libraries/Ethernet
/libraries/Firmata
/libraries/LiquidCrystal
/libraries/SD
/libraries/Servo
/libraries/SoftwareSerial
/libraries/SPI
/libraries/Stepper
/libraries/WiFi
Digispark.app
Digispark.zip
install.rb
